* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: grid;
  grid-template-areas: "first second second";
  column-gap: 40px;
  margin: 30em 6em 30em 8em;
}

.first-container {
  grid-area: first;
}

.first-text {
  font-size: 3rem;
  margin-bottom: 0.5em;
  color: white;
  font-weight: 700;
}

.second-text {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.second-container {
  grid-area: second;
}

.form {
  position: relative;
  display: grid;
  grid-template-areas: "firstName" "lastName" "email" "password" "button";
  border: 1px solid white;
  background-color: white;
  margin: 0 6em 0 6em;
  padding: 2em;
  border-radius: 10px;
  width: 100%;
  right: 22%;
}

.first-name {
  grid-area: firstName;
}

.last-name {
  grid-area: lastName;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.button {
  grid-area: button;
}

input {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1em;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid hsl(246, 25%, 77%);
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(249, 10%, 26%);
}

.try-box {
  background-color: hsl(248, 32%, 49%);
  font-size: 0.8rem;
  padding: 1em 0;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1.5em;
  color: white;
  box-shadow: 0px 5px 9px black;
}

.try-box span {
  font-weight: bold;
}

.claim-button {
  width: 100%;
  padding: 1.3em 0;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.terms-services {
  font-size: 0.7rem;
  text-align: center;
  margin: 1.5em 0 1em 0;
  font-family: "Poppins", sans-serif;
}

.terms {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}
